
//Menu Button
.bell{
    position: absolute;
    z-index: 3;
    right: 15px;
    top: 11px;
    cursor: pointer;
}

/*#company-inbox .dropdown-contents{
    display: none;

    &.show{
        display: block;
    }
}*/
.fill svg{
    fill: #fff;
}

.menu-btn1 {
   position: absolute;
    z-index: 5;
    left: 12px;
    top: 12px;
    cursor: pointer;

    .btnLine {
        width: 22px;
        height: 3px;
        margin: 0 0 5px 0;
        background-color: #333333;
    }
}

