
//Menu Button
.svg_menu{
    position: absolute;
    z-index: 3;
    right: 50px;
    top: 33px;
    cursor: pointer;

}

.left-side-bar{
    display: none;

    &.show {
        visibility: visible;
    }
}

.menu-btn {
    position: absolute;
    z-index: 3;
    right: 15px;
    top: 40px;
    cursor: pointer;

    //@include easeOut;

    .btn-line {
        width: 28px;
        height: 3px;
        margin: 0 0 5px 0;
        background: #333;
    }

    //Rotate into X with Menu lines
    /*&.close {
        transform: rotate(180deg);

        .btn-line {
            //Line 1 - Rotate
            &:nth-child(1) {
                transform: rotate(45deg) translate(3px, 3px);
            }

            //Line 2 - Hide
            &:nth-child(2) {
                opacity: 0;
            }

            //Line 3 - Rotate
            &:nth-child(3) {
                transform: rotate(-45deg) translate(3px, -2px);
            }
        }
    }*/
}

//Menu Overlay
.top_nav {
    position: fixed;
    top: 0;
    right: -40%;
    display: none;
    padding-top: 50px;
    width: 100%;

}
